.form-control:focus {
    outline: none;
    box-shadow: none;
  }

.btn:focus {
    outline: none;
    box-shadow: none;
}

.caixa-cima {
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.caixa-baixo {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    background-color: #54BAB9;
}

body {
    background-color: #FBF8F1;
    height: 100vh;
}

.area {
    background-color: #E9DAC1;
    border-radius: 10px;
    height: 25%;
    width: 75%;
}